html, #root, body,  .App {
  height: '100% !important'
}

.App-header {
  background-color: #374855;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: linear-gradient(135deg, #1a272e, #a7b5c1);
}

body.homepage {
  background-image: url('C:\Users\tanne\Downloads\Empty Room with Couch bg image.jpg');
  background-size: cover;
  background-position: center;
}